{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h2 class="join-message">Edit Food Entry:</h2>
        
        <form id="add-food-form" action="/{{user.id}}/{{item.id}}/edit" method="POST">

            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="form-group">
                {% if field.name == 'item_name' %}
                <div class="form-group">
                    <input type="text" name="item_name" id="item_name" class="form-control" placeholder="Food Name" value="{{item.item_name}}">
                    <select id="food-dropdown" class="form-control" style="display: none;">
                    </select>
                </div>

                {% else %}
                    {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                    {{ field(placeholder=field.label.text, class="form-control", id=field.name) }}
                
                {% endif %}
            </div>
            {% endfor %}

            <button class="btn-primary">Edit</button>
        </form>
    </div>
</div>

<script src="/static/diettracker.js"></script>
{% endblock %}