{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h2 class="join-message">Food Search:</h2>

        <form action="{{ url_for('search_food', user_id=user.id) }}" method="GET">
            <label for="foodSearch"> Search:</label>
            <input type="text" name="foodSearch" id="searchQuery" class="form-control" placeholder="Enter food name">
            <button type="submit">Search</button>
        </form>
    </div>
</div>
{% endblock %}